[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/codespider24
[access "refs/for/refs/*"]
	read = group user/codespider24
	push = group user/codespider24
	label-Code-Review = -2..+2 group user/codespider24
	label-Verified = -1..+1 group user/codespider24
	rebase = group user/codespider24
	removeReviewer = group user/codespider24
	submit = group user/codespider24
[access "refs/heads/*"]
	read = group user/codespider24
	create = group user/codespider24
	push = +force group user/codespider24
	pushMerge = group user/codespider24
[access "refs/tags/*"]
	push = +force group user/codespider24
	pushTag = group user/codespider24
	pushSignedTag = group user/codespider24
